In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sb

In [39]:
# Read in data
project = pd.read_csv('ks-projects-201801.csv')
project.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [10]:
project.info()
# The dataset has 378661 rows
# At a glance, only the attributes 'name' and 'usd pledged' are missing data
# 43.3 MB!!!!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 14 columns):
name                378661 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null object
goal                378661 non-null float64
launched            378661 non-null object
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd_pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: float64(5), int64(1), object(8)
memory usage: 40.4+ MB

In [11]:
project.describe()
# The max row is fascinating, find the entries that correspond later.

,goal,pledged,backers,usd_pledged,usd_pledged_real,usd_goal_real
count,3.786610e+05,3.786610e+05,378661.000000,3.748640e+05,3.786610e+05,3.786610e+05
mean,4.908079e+04,9.682979e+03,105.617476,7.036729e+03,9.058924e+03,4.545440e+04
std,1.183391e+06,9.563601e+04,907.185035,7.863975e+04,9.097334e+04,1.152950e+06
min,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,2.000000e+03,3.000000e+01,2.000000,1.698000e+01,3.100000e+01,2.000000e+03
50%,5.200000e+03,6.200000e+02,12.000000,3.947200e+02,6.243300e+02,5.500000e+03
75%,1.600000e+04,4.076000e+03,56.000000,3.034090e+03,4.050000e+03,1.550000e+04
max,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,2.033899e+07,1.663614e+08

### Attribute Descriptions:

- __ID__: Project ID
- __name__: Kickstarter Project name
- __category__: Sub-category to main_category
- __main_category__: Parent category, is split into sub-categories category
- __currency__: Currency of the project
- __deadline__: Deadline for the project to be fully funded
- __goal__: Goal amount in project curency
- __launched__: Date project was launched on kickstarter
- __pledged__: Amount pledged in the project currency
- __state__: The state of the project backing (failed, successful, cancelled, undefined, suspended)
- __backers__: Number of backers that have pledged/supported the project
- __country__: Country origin of project
- __usd_pledged__: Pledged amount in USD (conversion by KS)
- __usd_pedged_real__: Pledged amount in USD (conversion by fixe.io api)
- __usd_goal_real__: Goal amount in USD

## Data Cleanup

#### Things to do still
1. Fill the missing na names values with 'category x' <font color=blue>DONE</font>
2. There are over 3000 usd_pledged na values <font color=blue>DONE, removed usd_pledged column as values look inaccurate</font>
    - See if there is any difference between usd_pledged and usd_pledged_real 
    - If no difference, i can probably remove the usd_pledged column
3. There are a number of country values that have the value N,0"
    - See if there are any instances where currency != country
    - If each currency == country, then we can simply make the missing country values the currency country
4. There are a number of projects that have a state of undefined
    - Confirm the deadline has passed and if the pledged >= goal then set as successful
        if pledged < goal put failed
        if the deadline is past January 2018 (i believe), confrm what to put..... see if viable case.

In [3]:
# Remove the ID column as it provides no value in the analysis
# Rename 'usd pledged' to usd_pledged for consistency in headings

project.drop('ID', axis = 1, inplace = True)
project.rename(columns={'usd pledged': 'usd_pledged'}, inplace=True)
project.columns

Index(['name', 'category', 'main_category', 'currency', 'deadline', 'goal',
       'launched', 'pledged', 'state', 'backers', 'country', 'usd_pledged',
       'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

In [4]:
# Find the null entries for name and usd pledged
na_name = project[project['name'].isna()]
na_name

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real
166851,NaN,Narrative Film,Film & Video,USD,2012-02-29,200000.0,2012-01-01 12:35:31,100.0,failed,1,US,100.00,100.00,200000.00
307234,NaN,Video Games,Games,GBP,2013-01-06,2000.0,2012-12-19 23:57:48,196.0,failed,12,GB,317.73,316.05,3224.97
309991,NaN,Product Design,Design,USD,2016-07-18,2500.0,2016-06-18 05:01:47,0.0,suspended,0,US,0.00,0.00,2500.00
338931,NaN,Painting,Art,USD,2011-12-05,35000.0,2011-11-06 23:55:55,220.0,failed,5,US,220.00,220.00,35000.00

In [6]:
# As there are only 4 projects missing names and they are all in different main categories,
# they will be renamed to 'Category X'
project['name'] = project['name'].fillna(project['category'] + ' X')

In [9]:
project.loc[[166851, 307234]]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real
166851,Narrative Film X,Narrative Film,Film & Video,USD,2012-02-29,200000.0,2012-01-01 12:35:31,100.0,failed,1,US,100.00,100.00,200000.00
307234,Video Games X,Video Games,Games,GBP,2013-01-06,2000.0,2012-12-19 23:57:48,196.0,failed,12,GB,317.73,316.05,3224.97

In [13]:
project[project['name'].isna()]

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd_pledged, usd_pledged_real, usd_goal_real]
Index: []

## 2: Fill NAs for usd_pledged

In [36]:
na_usd_pledged = project[project['usd_pledged'].isna()]
na_usd_pledged.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real
169,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20,6500.0,2014-08-06 21:28:36,555.00,undefined,0,"N,0""",NaN,555.00,6500.00
328,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25,4500.0,2015-08-04 12:05:17,4767.00,undefined,0,"N,0""",NaN,3402.08,3211.53
632,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09,3500.0,2015-03-10 20:06:13,3576.00,undefined,0,"N,0""",NaN,3576.00,3500.00
647,Butter Side Down Debut Album,Music,Music,USD,2015-11-26,6000.0,2015-11-02 22:09:19,7007.80,undefined,0,"N,0""",NaN,7007.80,6000.00
749,Chase Goehring debut EP,Music,Music,USD,2016-03-21,3000.0,2016-02-23 03:09:49,3660.38,undefined,0,"N,0""",NaN,3660.38,3000.00

In [37]:
na_count = project['usd_pledged'].isna().sum()
na_count

3797

In [43]:
project.loc[(project['country'] != 'US') & (project['backers'] > 0)].head()
# The USD pledged column seems to provide incorrect converted values
# Therefore the column will be removed for accuracy purposes

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
14,1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.0,2017-04-05 19:44:18,94175.00,successful,761,GB,57763.78,121857.33,6469.73
21,1000081649,MikeyJ clothing brand fundraiser,Childrenswear,Fashion,AUD,2017-09-07,2500.0,2017-08-08 01:20:20,1.00,failed,1,AU,0.00,0.81,2026.10
23,1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25,500.0,2015-01-26 19:17:33,48.00,failed,3,NO,6.18,6.29,65.55
27,1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14,17757.0,2014-11-14 18:02:00,48905.00,successful,571,CA,43203.25,42174.03,15313.04
28,1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28,100.0,2015-12-29 16:59:29,112.38,successful,27,GB,167.70,160.60,142.91

In [44]:
project.drop('usd pledged', axis = 1, inplace = True)
project.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

## 2: Fill NAs for Country

In [63]:
#project[project['country'] == 'N,0"']
project.loc[project['country'] == 'N,0"']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
169,1000694855,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20,6500.0,2014-08-06 21:28:36,555.00,undefined,0,"N,0""",555.00,6500.00
328,100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25,4500.0,2015-08-04 12:05:17,4767.00,undefined,0,"N,0""",3402.08,3211.53
632,1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09,3500.0,2015-03-10 20:06:13,3576.00,undefined,0,"N,0""",3576.00,3500.00
647,1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26,6000.0,2015-11-02 22:09:19,7007.80,undefined,0,"N,0""",7007.80,6000.00
749,1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21,3000.0,2016-02-23 03:09:49,3660.38,undefined,0,"N,0""",3660.38,3000.00
824,1004013077,Spencer Capier Instrumental Project 2015,Music,Music,CAD,2014-10-10,4000.0,2014-09-10 22:51:01,4760.00,undefined,0,"N,0""",4251.14,3572.39
844,1004126342,LUKAS LIGETI'S 50TH BIRTHDAY FESTIVAL: ORIGINA...,Music,Music,USD,2015-06-11,5000.0,2015-05-15 02:12:35,6370.00,undefined,0,"N,0""",6370.00,5000.00
864,1004255433,The Battle For Breukelen: A Neighborhood Epic,Film & Video,Film & Video,USD,2015-11-07,6000.0,2015-10-10 18:45:24,6695.00,undefined,0,"N,0""",6695.00,6000.00
870,1004298993,"""Tamboura Plays Violin"" - a collection of Pop ...",Music,Music,USD,2015-03-28,2750.0,2015-02-11 19:28:27,2926.00,undefined,0,"N,0""",2926.00,2750.00
890,1004402863,Nightingale Noel - An A Cappella Holiday CD,Music,Music,USD,2015-12-11,1200.0,2015-11-11 21:02:55,1585.00,undefined,0,"N,0""",1585.00,1200.00
1026,1005185256,Local Music Connection,Music,Music,USD,2015-12-18,1500.0,2015-11-18 21:50:04,69.00,undefined,0,"N,0""",69.00,1500.00
1036,100522240,DO NOT DUPLICATE - Selected by 2015 Devon Film...,Film & Video,Film & Video,GBP,2015-04-10,1500.0,2015-03-11 22:07:00,277.00,undefined,0,"N,0""",404.18,2188.69
1116,1005653464,SA-4 Studios,Music,Music,USD,2015-03-25,5000.0,2015-01-24 18:33:14,0.00,undefined,0,"N,0""",0.00,5000.00
1250,1006327667,Letters to the Wild - EP,Music,Music,USD,2014-10-31,2000.0,2014-10-02 22:48:31,2560.00,undefined,0,"N,0""",2560.00,2000.00
1684,1008671527,The Fitness Mindset :-),Publishing,Publishing,EUR,2015-11-17,8000.0,2015-10-13 15:45:38,30.00,undefined,0,"N,0""",32.06,8550.39
1685,1008675685,Inspired & the Sleep EP - Eyelid Kid,Music,Music,USD,2015-10-30,2000.0,2015-10-04 21:48:11,2079.00,undefined,0,"N,0""",2079.00,2000.00
1718,1008815806,Into Winter: An Instrumental Christmas Experiment,Music,Music,USD,2014-10-11,2000.0,2014-09-10 23:23:40,2085.00,undefined,0,"N,0""",2085.00,2000.00
1784,1009154868,Help advance scientific guitar & bass design,Music,Music,USD,2016-03-12,5000.0,2016-02-11 01:42:44,121.00,undefined,0,"N,0""",121.00,5000.00
1817,1009312309,Mr. Pickles,Publishing,Publishing,USD,2015-05-01,3750.0,2015-04-01 16:36:51,230.00,undefined,0,"N,0""",230.00,3750.00
1892,1009774693,Universal Peace | Universal Justice,Music,Music,USD,2014-09-06,2500.0,2014-07-29 23:01:07,2720.00,undefined,0,"N,0""",2720.00,2500.00
1961,1010217550,Solarboot-Havel-Tour,Music,Music,EUR,2015-05-31,2500.0,2015-05-14 23:05:51,2620.00,undefined,0,"N,0""",2939.13,2804.51
2053,1010694326,Surrender,Music,Music,CAD,2015-01-30,5000.0,2014-12-29 01:27:30,5197.00,undefined,0,"N,0""",4101.82,3946.33
2201,1011508551,EBENEZER Solo Record,Music,Music,USD,2015-05-30,8000.0,2015-04-20 17:33:24,8361.00,undefined,0,"N,0""",8361.00,8000.00
2304,1011952280,NHSOB Summer Festival 2015,Music,Music,GBP,2015-05-15,3000.0,2015-03-31 17:21:17,34.00,undefined,0,"N,0""",53.41,4712.83
2326,1012058337,Degobah Max,Music,Music,USD,2015-12-05,4500.0,2015-11-06 21:55:39,0.00,undefined,0,"N,0""",0.00,4500.00
2395,1012414277,WE ARE WHO WE ARE BUT WHATEVER WE WANT TO BE!!!,Music,Music,USD,2015-08-31,3000.0,2015-07-13 17:09:24,0.00,undefined,0,"N,0""",0.00,3000.00
2451,1012704793,Life In The Bus Lane,Film & Video,Film & Video,USD,2014-12-21,7500.0,2014-11-21 05:09:09,9329.00,undefined,0,"N,0""",9329.00,7500.00
2457,1012744036,An Oratorio for our Time - Last Stop Cafe,Music,Music,USD,2016-05-26,5000.0,2016-04-26 19:46:26,5170.00,successful,0,"N,0""",5170.00,5000.00
2478,1012807897,Juliet Remembered,Film & Video,Film & Video,GBP,2016-02-06,6500.0,2016-01-07 13:44:33,6660.12,undefined,0,"N,0""",9660.05,9427.80
2606,1013389538,Make admission to the London Music Awards cere...,Music,Music,CAD,2015-06-09,3500.0,2015-05-10 15:22:18,207.00,undefined,0,"N,0""",168.25,2844.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375347,982862687,Bydlo - A Novel,Publishing,Publishing,GBP,2015-06-01,3000.0,2015-04-02 12:51:16,0.00,undefined,0,"N,0""",0.00,4599.39
375359,982919439,Faith,Film & Video,Film & Video,USD,2016-05-06,9000.0,2016-03-07 04:17:33,2.00,failed,0,"N,0""",2.00,9000.00
375512,983728691,The Octopodes' 5th Studio Album!,Music,Music,USD,2016-01-05,8000.0,2015-11-19 23:43:09,8025.00,undefined,0,"N,0""",8025.00,8000.00
375765,985231591,TWO FISH,Film & Video,Film & Video,USD,2014-05-17,8000.0,2014-04-21 21:52:55,8562.00,undefined,0,"N,0""",8562.00,8000.00
375980,986253191,"DEVELOP MAGAZINE FOR THE ARTS, MUSIC, AND DESI...",Publishing,Publishing,USD,2015-02-28,5000.0,2015-01-29 17:43:13,0.00,undefined,0,"N,0""",0.00,5000.00
376025,986471034,"Help Revival finish their new album, Guidance.",Music,Music,USD,2015-05-02,2500.0,2015-04-03 11:16:00,420.00,undefined,0,"N,0""",420.00,2500.00
376187,98744618,Vinyl for Dancing Pigeons!,Music,Music,SEK,2016-04-16,33000.0,2016-03-17 13:42:54,1105.00,undefined,0,"N,0""",136.19,4067.35
376470,988763792,Maud Sings Maud: A Musical Betsy-Tacy Companion,Music,Music,USD,2015-12-03,6500.0,2015-10-04 00:55:19,7814.00,undefined,0,"N,0""",7814.00,6500.00
376560,989218116,Keep on Movin' - The Debut Album,Music,Music,GBP,2014-11-19,1300.0,2014-10-22 22:22:14,2.00,undefined,0,"N,0""",3.14,2038.70
376603,989499289,Sojourner,Music,Music,USD,2016-04-11,2500.0,2016-03-12 23:22:51,80.00,undefined,0,"N,0""",80.00,2500.00
376674,989874415,Love and Soul through Sound,Music,Music,USD,2015-06-27,3000.0,2015-05-28 17:17:08,45.00,undefined,0,"N,0""",45.00,3000.00
376970,991409513,Chris Copeland's First EP,Music,Music,USD,2015-02-28,5500.0,2015-01-29 02:58:24,5763.00,undefined,0,"N,0""",5763.00,5500.00
376984,991483230,Support Vocal Synergy's Second Semester and Te...,Music,Music,USD,2015-12-20,3400.0,2015-12-05 05:10:10,3435.00,undefined,0,"N,0""",3435.00,3400.00
377043,991820324,The Blend CD 2015,Music,Music,USD,2015-05-15,8000.0,2015-04-15 00:07:51,8156.00,undefined,0,"N,0""",8156.00,8000.00
377158,992433603,Jonny Come Lately,Film & Video,Film & Video,USD,2014-12-24,8500.0,2014-11-24 20:47:45,9146.00,undefined,0,"N,0""",9146.00,8500.00
377472,994080962,Maximum Coppage,Film & Video,Film & Video,USD,2014-08-19,3000.0,2014-07-18 03:42:11,3175.00,undefined,0,"N,0""",3175.00,3000.00
377569,994621918,Star Sailor,Film & Video,Film & Video,USD,2016-01-01,8000.0,2015-12-03 20:25:41,8061.00,undefined,0,"N,0""",8061.00,8000.00
377638,994911312,"""Songwriter assistance"" service",Music,Music,CAD,2014-12-22,5000.0,2014-11-22 00:56:04,0.00,undefined,0,"N,0""",0.00,4313.32
377640,994933706,Whiskey and Holy Water,Music,Music,USD,2015-05-11,6500.0,2015-03-25 03:55:53,6696.00,undefined,0,"N,0""",6696.00,6500.00
377872,99613274,Double EP and Music Video Fundraiser,Music,Music,GBP,2015-12-02,3000.0,2015-11-02 09:33:38,3517.00,undefined,0,"N,0""",5324.59,4541.88
378011,996908566,The World Needs More Big Thinkers,Publishing,Publishing,USD,2015-09-13,8000.0,2015-07-30 03:01:31,0.00,undefined,0,"N,0""",0.00,8000.00
378100,99739483,No More Fear,Music,Music,GBP,2016-04-17,2500.0,2016-03-17 13:43:26,2500.00,undefined,0,"N,0""",3594.48,3594.48
378142,997554968,Susan Picking: Making Music with Kids in the S...,Music,Music,USD,2015-03-01,8000.0,2015-01-31 20:58:01,8582.00,undefined,0,"N,0""",8582.00,8000.00
378188,997793413,Whisper Violet - Honors Senior Thesis Film,Film & Video,Film & Video,USD,2016-05-14,2000.0,2016-04-14 01:27:27,2300.00,successful,0,"N,0""",2300.00,2000.00
378219,997915422,Otter's First Full Length Album,Music,Music,USD,2015-12-31,5000.0,2015-12-01 00:25:06,6065.26,undefined,0,"N,0""",6065.26,5000.00
378233,997971307,"EQUUS International Film Festival®, all-equine...",Film & Video,Film & Video,USD,2015-02-03,7500.0,2014-12-05 04:19:14,10.00,undefined,0,"N,0""",10.00,7500.00
378303,998319149,Emily 2050 - Short Film,Film & Video,Film & Video,CAD,2014-05-23,3000.0,2014-04-08 00:30:09,3102.00,undefined,0,"N,0""",2845.61,2752.04
378434,9988744,Matthew Stephens Music,Music,Music,USD,2016-02-05,5000.0,2016-01-06 21:59:23,235.00,undefined,0,"N,0""",235.00,5000.00
378585,999610349,Lady Vendredi: Afrofuturist concept 12 inch EP,Music,Music,GBP,2015-10-19,2000.0,2015-09-21 22:33:18,2125.00,undefined,0,"N,0""",3273.36,3080.81
378588,999621278,Jeune auteur a besoin de vous!,Publishing,Publishing,EUR,2015-11-20,1600.0,2015-10-21 21:28:13,0.00,undefined,0,"N,0""",0.00,1710.08